* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: white;;
}

/*CABEÇALHO*/
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: lightgray;
    position: sticky;
    top: 0%;
    left: 0%;
    padding: 0.625rem;
}

body > nav {
    position: sticky;
    top: 10%;
    left: 10%;
}

/*MENU HAMBURGUER*/
span#burguer {
    display: block;
    background-color:rgb(29, 28, 28);
    color: white;
    text-align: center;
    padding: 0.625rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

span#burguer:hover {
    background-color:rgb(253, 60, 79);
}

nav#items {
    display: none;
}

nav#items > ul {
    list-style: none;
}

nav#items > ul > li > a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    background-color: black;
    border-top: 2px solid white;
    font-weight: bold;
    padding: 0.625rem;
}

nav#items > ul> li > a:hover {
    background-color: rgb(253, 60, 79);
}

/*MENU*/
header > nav {
    display: none;
}

/*CONTEÚDO*/
main {
    width: 90vw;
    background-color: #b3b3b3;
    margin: auto;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    padding: 0.625rem;
    border-radius: 0.625rem;
    color: #26201a;
    font-weight: bold;
}

main > article > h2 {
    padding-bottom: 1.25rem; 
    text-align: center;
    color: crimson;
}

main  > article > p {
    text-align: center;
    margin-bottom: 1.25rem;
    text-indent: 1.25rem;
    font-size: 0.875rem;
    background-color:antiquewhite;
    padding: 0.5rem;
    border-radius: 10px ;
}

main > article > figure {
    margin-bottom: 1.25rem;
    text-align: center;
}

main > article > figure > img {
    width: 50%;
    border-radius: 10px;
} 

main figcaption {
    color: crimson;
}

main section {
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
    background-color:antiquewhite;
    padding: 0.5rem;
    border-radius: 10px ;
}


main > section > ul  {
    text-align: center;
    padding: 0.75rem;
    list-style: none;
}

main > section > ul > li {
    font-size: 0.875rem;
    padding-bottom: 0.75rem;
}


/*RODAPÉ*/
footer {
    width: 100vw;
    background-color: lightgray;
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;
    box-sizing: border-box;
    padding: 0.625rem;
}

footer > nav > ul > li > a > img, footer > figure > img {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.0625rem;
}

footer > nav > ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
}

footer > figure {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

footer > figure > figcaption {
    font-size: 0.75rem;
    font-weight: bold;
    color: rgb(29, 28, 28)
}

footer > figure > span {
    font-size: 0.75rem;
    font-weight: bold;
    color: rgb(253, 60, 79);
}


@media (min-width: 1200px) {

    header {
        justify-content: flex-start;
        gap: 3rem;
    }

    /*MENUS*/
    span#burguer {
        display: none;
    }

    header > nav {
        display: flex;
    }

   header > nav > ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    
    header > nav > ul > li > a {
        display: block;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: whitesmoke;
        background-color: black;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        font-weight: bold;
        padding: 0.625rem;
    }
    
    header > nav > ul> li > a:hover {
        background-color: rgb(253, 60, 79);
    }


    main > article > figure > img {
        width: 15%;
    } 
}